<h1>Subforum: <%= @sub.title %></h1>
<br>
<%= link_to "Edit Subforum", edit_sub_url(@sub) %>
<%= button_to "Delete Subforum", sub_url(@sub), method: :delete %>
<h3>Description</h3>
<%= @sub.description %>
<br>

<h5>Posts in this forum:</h5>

<% @links = @sub.links.sort_by(&:vote_value).reverse %>

<ul>
  <% @links.each do |link|  %>
    <li><%= link.title %>:<%= link_to link.title, link %></li>
    <li><%= link.body %></li>
    <li>Vote value: <%= link.vote_value %></li>
  <br>
  <% end %>
</ul>

<%= link_to "Publish a post", new_sub_link_url(@sub) %>